{% extends 'base.html' %}

{% block title %}Contato{% endblock title %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">{{ contact.first_name }} {{ contact.last_name }}</h1>
        <dl>
          <dt>ID</dt>
          <dd>{{ contact.id }}</dd>

          <dt>Telefone</dt>
          <dd>{{ contact.phone_number }}</dd>

          <dt>E-mail</dt>
          <dd>{{ contact.email }}</dd>

          <dt>Data criação</dt>
          <dd>{{ contact.created_at | date:'d/m/Y'}}</dd>

          <dt>Categoria</dt>
          <dd>{{ contact.category }}</dd>

          <dt>Descrição</dt>
          <dd>{{ contact.description }}</dd>
        </dl>

      </div>
    </div>
  </div>

{% endblock content %}
